html, body {
  font-family: "Nunito", sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1150px) {
  #sidebar {
    display: none;
  }
}
.vertically-center-content {
  display: flex;
  align-items: center;
}

#page-container {
  width: 100%;
  height: 100%;
  display: flex;
}

#sidebar {
  position: relative;
  width: 400px;
  padding: 20px;
  border-right: 1px solid lightgray;
  padding-right: 45px;
  margin: 35px;
}
#sidebar > * + * {
  margin-bottom: 15px;
}

.sidebar-header {
  font-weight: 500;
}

#logo-container {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

#logo {
  width: 50px;
  height: 50px;
}

#logo-name {
  margin-left: 10px;
  display: inline-block;
}

.assignments-list {
  border: 1px solid lightgray;
  border-radius: 4px;
}

.assignment-card {
  padding: 4px 13px;
  line-height: 0px;
}
.assignment-card p {
  line-height: 6px;
  padding-left: 20px;
}
.assignment-card ~ .assignment-card {
  border-top: 1px solid lightgray;
}

.selected-assignment {
  border-right: 8px solid #2962ff;
  margin-right: -1px;
  margin-top: -1px;
}

.first-assignment {
  border-top-right-radius: 4px;
}

.last-assignment {
  border-bottom-right-radius: 4px;
}

.button {
  border: none;
  font-size: 18px;
  font-family: "Nunito";
  border-radius: 6px;
}
.button:hover {
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button > img, .button span {
  vertical-align: middle;
}

.default-button {
  background: #2962ff;
  color: white;
}
.default-button:hover {
  background: #3d71ff;
}
.default-button:active {
  background: #1553ff;
}

.secondary-button {
  background: #f0f0f0;
  color: #323232;
}
.secondary-button:hover {
  background: whitesmoke;
}
.secondary-button:active {
  background: #e6e6e6;
}

.danger-button {
  background: red;
  color: white;
}
.danger-button:hover {
  background: #ff3d3d;
}
.danger-button:active {
  background: #eb0000;
}

#create-assignment-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
  padding: 10px 25px;
}
#create-assignment-button img {
  height: 18px;
  margin-right: 13px;
}

#content-container {
  flex: 1 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
#content-container > * + * {
  margin-bottom: 10px;
}
#content-container #assignment-details {
  justify-content: space-between;
}
#content-container #assignment-details > * {
  display: inline-block;
}
#content-container #assignment-details h2 {
  font-weight: 550;
}
#content-container #assignment-details div {
  margin-right: 10px;
  font-size: 17px;
  line-height: 5px;
  float: right;
  text-align: right;
}
#content-container #assignment-buttons-container {
  margin-top: 10px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}
#content-container #assignment-buttons-container button {
  font-size: 16px;
  padding: 5px 10px;
}
#content-container #assignment-buttons-container #delete-assignment-button img {
  height: 23px;
  margin-right: 10px;
}
#content-container #assignment-buttons-container #view-group-button img {
  height: 23px;
  margin-right: 10px;
}
#content-container #share-details-container {
  display: none;
  margin-top: 5px;
  margin-bottom: 35px;
}
#content-container #share-details-container p {
  line-height: 5px;
  font-size: 16px;
}
#content-container #share-details-container #share-list {
  height: 125px;
  border: 1px solid lightgray;
}
#content-container #file-search-container {
  display: flex;
}
#content-container #file-search-container img {
  border: 1px solid lightgray;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  align-self: center;
  height: 18px;
  padding: 6px 12px;
  border-right: none;
}
#content-container #file-search-container input {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 550;
  flex: 1 0;
  padding: 0 0 0 10px;
  margin: 0;
  border: 1px solid lightgray;
  height: 30px;
}
#content-container #file-search-container input:focus {
  outline: 1px solid #8fadff;
}
#content-container #files-container {
  display: flex;
  flex: 1 1;
  border: 1px solid lightgray;
  border-radius: 6px;
}
#content-container #files-container .file-container {
  height: 100%;
  display: inline-block;
}
#content-container #files-container .file-container .sort-ribbon {
  justify-content: space-between;
  height: 35px;
  padding: 0px 15px;
  border-bottom: 1px solid lightgray;
}
#content-container #files-container .file-container .sort-ribbon div {
  float: left;
}
#content-container #files-container .file-container .sort-ribbon img {
  float: right;
  width: 15px;
  margin: 0;
}
#content-container #files-container .file-container .file-name-item img {
  align-self: center;
  height: 25px;
  margin-right: 25px;
}
#content-container #files-container .file-container .file-item {
  height: 30px;
  padding: 15px;
  border-bottom: 1px solid lightgray;
}
#content-container #files-container .file-container ~ .file-container {
  border-left: 1px solid lightgray;
}
#content-container #files-container #file-name-container {
  width: 50%;
}
#content-container #files-container #file-size-container {
  width: 25%;
}
#content-container #files-container #file-time-container {
  width: 25%;
}

/*# sourceMappingURL=styles.css.map */
