$base-color: #2962ff;

html, body {
    font-family: 'Nunito', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

* {
    transition: background-color 0.15s linear;
    transition: filter 0.25s;
}

.hidden {
    display: none !important;
}

.vertically-center-content {
    display: flex;
    align-items: center;
}

#page-container {
    width: 100%;
    height: 100%;
    display: flex;
}

#page-cover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.sidebar-slideout {
    position: absolute !important;
}

.sidebar-hidden {
    transform: translateX(-100%);
}

#sidebar {
    position: relative;
    width: 400px;
    padding: 45px;
    bottom: 0;
    top: 0;

    background: rgb(251,251,251);
    border-right: 1px solid lightgray;

    transition: transform ease-in-out 1s;
}

.rotated {
    img {
        transform: rotateY(180deg);
    }
}

#sidebar-toggle-button {
    position: absolute;
    display: none;
    left: 100%;

    padding: 10px 8px;
    
    background: rgb(252,252,252);
    border: 1px solid lightgray;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    img {
        transition: transform ease-in-out 0.3s;
    }

    &:hover {
        background: lighten(rgb(240,240,240), 2%);
    }

    &:active {
        background: darken(rgb(240,240,240), 4%);
    }
}

.sidebar-header {
    font-weight: 500;
    font-size: 19px;
}

#logo-container {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

#logo {
    width: 30px;
    height: 30px;
}

#logo-name {
    font-size: 24px;
    margin-left: 10px;
    display: inline-block;
}

.assignments-list {
    //background: yellow;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-bottom: 70px;
}

.assignment-card {
    padding: 4px 13px;
    line-height: 0px;
    background: white;

    p {
        line-height: 6px;
        padding-left: 20px;
    }
    
    & ~ & {
        border-top: 1px solid lightgray;
    }

    &:first-child {
        border-top-right-radius: 4px;
    }

    &:last-child {
        border-bottom-right-radius: 4px;
    }

}

.selected-assignment {
    border-right: 8px solid $base-color;
}

.button {

    border:none;
    font-size: 14px;
    padding: 5px 10px;
    font-family: 'Nunito';
    border-radius: 6px;

    & ~ .button {
        margin-left: 10px;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

    & > img, span {
        vertical-align: middle;
    }

}

.primary-button {

    background: $base-color;
    color:white;

    &:hover {
        background: lighten($base-color, 4%);
    }

    &:active {
        background: darken($base-color, 4%);
    }

}

.secondary-button {
    background: rgb(240,240,240);
    color: rgb(50,50,50);

    &:hover {
        background: lighten(rgb(240,240,240), 2%);
    }

    &:active {
        background: darken(rgb(240,240,240), 4%);
    }
}

.danger-button {
    background: red;
    color: white;

    &:hover {
        background: lighten(red, 12%);
    }

    &:active {
        background: darken(red, 4%);
    }
}

.exit-button {

    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 6px!important;
    background: none;
    border-radius: 50%;

    img {
        width: 20px;
        height: 20px;
        padding: 0;
    }

    &:hover {
        background: rgb(240,240,240);
    }

    &:active {
        background: rgb(230,230,230);
    }
}

.input {

    font-family: 'Nunito';
    font-weight: 550;
    margin: 0;
    border: 1px solid lightgray;
    outline: none;
    height: 30px;

    &:focus {
        border: 1px solid $base-color;
    }

}

.clickable {

    &:hover {
        background: rgb(250,250,250);
        cursor: pointer;
    }

    &:active {
        background: rgb(245, 245, 245);
    }

}

.hovered {
    background: rgb(250,250,250);
}

.clicked {
    background: rgb(245, 245, 245) !important;
}

#create-assignment-button {

    img {
        height: 35px;
        margin-right: 8px;
    }

    position: absolute;
    bottom: 20px;
    font-size: 15px;
    padding: 5px 25px;
    padding-left: 15px;

}

#content-container {
    flex: 1 1;
    padding: 20px;
    display: flex;
    margin-left: 30px;
    flex-direction: column;

    & > * + * {
        margin-bottom: 10px;
    }

    #assignment-details {

        justify-content: space-between;

        & > * {
            display: inline-block;
        }

        h2 {
            font-size: 20px;
            font-weight: 550;
        }

        div {
            margin-right: 10px;
            font-size: 15px;
            line-height: 5px;
            float: right;
            text-align: right;
        }
    }

    #assignment-buttons-container {

        margin-top: 10px;
        margin-bottom: 35px;

        display: flex;
        
        #view-group-button {
            img {
                height: 23px;
                margin-right: 10px;
            }
        }

        #upload-file-button {
            img {
                height: 19px;
                margin-right: 7px;
                margin-top: 2px;
            }
        }

        #delete-assignment-button {
            margin-left: auto;
            img {
                height: 20px;
                margin-right: 10px;
            }
        }

    }

    #share-details-container {
        display: none;
        margin-top: 5px;
        margin-bottom: 35px;

        p {
            line-height: 5px;
            font-size: 16px;
        }

        #share-list {
            height: 125px;
            border: 1px solid lightgray;
        }
    }

    #file-search-container {

        display: flex;

        img {
            border: 1px solid lightgray;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            align-self: center;
            height: 18px;
            padding: 6px 12px;
            border-right: none;
        }

        input {

            flex: 1 0;
            padding: 0 0 0 10px;

        }

    }

}

#files-container {
    flex: 1 1;
    border: 1px solid lightgray;
    border-radius: 6px;

}

#sort-ribbons-container {
    width: 100%;
    display: flex;
}

.sort-ribbon {

    @extend .clickable;

    display: flex;
    height: 20px;
    align-items: center;
    padding: 5px 10px;
    user-select: none;

    border-bottom: 1px solid lightgray;
    & ~ & {
        border-left: 1px solid lightgray;
    }

    img {
        margin-left: auto;
    }
}

.reversed {
    img {
        transform: rotate(180deg);
    }
}

.file-name-column {
    width: 50%;
}

.file-size-column {
    width: 20%;
}

.file-time-column {
    width: 30%;
}

.file-item {
    @extend .clickable;
    display: flex;
    border-bottom: 1px solid lightgray;
    height: 45px;
}

.file-item-section {

    padding: 10px;
    align-items: center;
    display: flex;

    & ~ & {
        border-left: 1px solid lightgray;
    }

    // label which overlaps checkbox to increase click size
    label {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }

    input {
        cursor: pointer;
    }

    // to account for size of label overlapping checkbox in the file name section
    &:first-child {
        padding-left: 0;
        padding-right: 20px;
    }

    img {
        width: 25px;
        margin-right: 10px;
    }
}

.popup {

    display: none;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 15px 25px;

    background: white;
    border: 1px solid lightgray;
    border-radius: 8px;

    .exit-button {
        right: 20px;
    }

}

#group-popup {

    width: 700px;

    p {
        line-height: 5px;
    }

    & > button {
        margin-top: 25px;
        padding: 8px 20px;
    }

}

.group-member-list {
    border: 1px solid lightgray;
    overflow-y: auto;
    height: 380px;
    margin-bottom: 30px;
}

.group-member-item {

    &:nth-child(odd) {
        background: rgb(250,250,250);
    }
    padding: 15px;

    border-bottom: 1px solid lightgray;

    img {
        height: 35px;
        margin-right: 20px;
        border-radius: 30%;
    }

    button {
        margin-left: auto;
        margin-top: 0;
    }
}

.email-input-container {

    position: relative;
    height: 45px;
    border: 1px solid lightgray;
    justify-content: space-between;

    input {

        width: 100%;
        margin: 0;
        padding: 10px;
        height: calc(100% - 20px);
        border: none;

    }

    button {
        position: absolute;
        height: 80%;
        right: 5px;
        margin: 0;
    }

}

#assignment-popup {

    width: 620px;

    h3 {
        line-height: 5px;
        margin-bottom: 38px;
    }

    input {
        width: 100%;
        display: inline-block;
    }

    & > p {
        line-height: 5px;
        font-weight: 700;
        margin-top: 30px;
    }

    .group-member-list {
        height: 240px;
        margin-bottom: 10px;
    }

    .primary-button {
        float: right;
    }

    .exit-button {
        top: 19px;
    }
    
}

#button-container {
    margin-top: 28px;
    
    button {
        padding: 7px 14px;
    }

}

.field-container {

    display: flex;
    align-items: center;
    white-space: nowrap;

    margin-bottom: 15px;

    span {
        margin-right: 10px;
    }

}

#upload-files-popup {

    width: 300px;
    text-align: center;

    div {

        display: flex;
        height: 30px;
        margin-bottom: 20px;

        input {
            box-sizing: border-box;
            flex: 1;
            padding-left: 10px;
            border-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        button {
            display: inline-block;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            height: 100% !important;
        }
        
    }

    & > button {
        margin-right: 10px;
    }

}

#deletion-confirmation-popup {
    width: 250px;
    text-align: center;

    .danger-button {
        margin-left: 20px;
    }
}